//
//
// Category
//
//

//
// Articles
//
.s-cat-articles
  list-style: none
  padding: 0
  h2
    color: $v-blue
    use
      fill: $v-blue
  .l-sec
    padding: $v-sp--p7
    border-bottom: 1px solid rgba($v-black, 0.1)
    &:last-child
      border-bottom: none

.s-cat-articles-b
  p
    margin-top: $v-sp--p2
    &:first-child
      margin-top: 0
