//
//
// Home
//
//

//
// Hero
//
.s-home-hero
  color: $v-white
  padding-bottom: $v-sp--p11
  background: linear-gradient(to bottom, rgba($v-white, 0.1), rgba($v-white, 0.1)), url('../../assets/images/raster/header/loop-sign.gif')
  background-repeat: no-repeat
  background-size: cover
  .container
    max-width: 800px
    text-align: center

//
// Cards
//
.s-home-cards
  margin-top: -$v-sp--p9
