//
//
// Home
//
//

//
// Hero
//
.s-home-hero
  background-color: $v-blue--extraLight
  color: $v-blue
  // padding-top: $v-sp
  padding-bottom: $v-sp--p11
  .t-h2--serif
    line-height: 1.4

//
// Cards
//
.s-home-cards
  margin-top: -$v-sp--p9
