//
//
// Article
//
//

//
// Nav
//
.m-article-nav
  display: none
  margin: 0

.m-article-nav-list
  list-style-type: none
  border-left: 2px solid $v-black
  padding: 0 0 0 $v-sp--m2
  margin-top: $v-sp--m5
  li
    @extend %t-small--upper
    margin-bottom: $v-sp--m4
    line-height: 1.5

.m-article.has-nav
  .m-article-nav
    display: block

//
// Content
//
.m-article-content
  max-width: 800px
  margin: 0
  & > p
    margin-top: 0

// Headings
.m-article-content
  h2
    @extend .t-h2--sans
    margin-top: $v-sp--p6
  h3
    @extend .t-h3--sans

// Code
.m-article-content
  .highlight
    padding: $v-sp
    font-size: 0.9rem
    background-color: rgba($v-black, 0.1)

// Quotes
.m-article-content
  blockquote
    color: $v-blue
    // text-align: center
    margin: $v-sp--p6 auto
    p
      font-size: 2rem !important

// Images
.m-article-content
  img
    display: block
    margin: 0 auto
    max-width: 140%
    width: 140%
    margin-left: -20%

// Links
.m-article-content
  p
    a
      border-bottom: 2px solid $v-black
      &:hover, &:active
        color: $v-blue
        border-color: $v-blue

// Lists
.m-article-content
  ul, ol
    margin: $v-sp 0
    li
      margin-bottom: $v-sp--m4
