//
//
// Article
//
//

//
// GEneral
//
.m-article
  padding-top: $v-sp--p4

//
// Nav
//
.m-article-nav
  display: none
  margin: 0 0 $v-sp 0

.m-article-nav-list
  list-style-type: none
  border-left: 2px solid $v-black
  padding: 0 0 0 $v-sp--m2
  margin-top: $v-sp--m5
  li
    @extend %t-small--upper
    margin-bottom: $v-sp--m4
    line-height: 1.5

.m-article.has-nav
  .m-article-nav
    display: block

//
// Content
//
.m-article-content
  max-width: 800px
  margin: 0
  & > p
    margin-top: 0

// Headings
.m-article-content
  h2
    @extend .t-h2--sans
    margin-top: $v-sp--p6
  h3
    @extend .t-h3--sans

// Code
.m-article-content
  .highlight
    padding: $v-sp
    font-size: 0.9rem
    background-color: rgba($v-black, 0.1)

// Quotes
.m-article-content
  blockquote
    margin: $v-sp--p6 auto
    position: relative
    font-family: $v-t-serif--italic
    &::before, &::after
      opacity: 0.25
      content: '“'
      display: block
      position: absolute
      top: -1.5rem
      left: -1.5rem
      font-size: 3rem
    &::after
      content: '”'
      top: auto
      left: auto
      right: -1.5rem
      bottom: -1.5rem

// Images
.m-article-content
  img
    display: block
    margin: 0 auto
    max-width: 140%
    width: 140%
    margin-left: -20%

// Links
.m-article-content
  p
    a
      border-bottom: 2px solid $v-black
      &:hover, &:active
        color: $v-blue
        border-color: $v-blue

// Lists
.m-article-content
  ul, ol
    margin: $v-sp 0
    li
      margin-bottom: $v-sp--m4
