//
//
// Cards
//
//

//
// General
//
.m-cards
  padding: 0
  margin: 0
  width: 100%

//
// Card
//
.m-cards-el
  display-flex: flex
  flex-grow: 1
  width: 50%
  white-space: normal
  list-style: none
  color: $v-white
  margin-bottom: 0

@each $key, $color in $l-themes
  .m-cards-el--#{ $key }
    .m-cards-el-inner
      @extend %l-theme--#{ $key }

.m-cards-el--wide
  width: 100%

.m-cards-el-inner
  position: relative
  width: 100%
  min-height: 33vh
  padding: $v-sp

.m-cards-el-index
  @extend %t-p--upperBlue
  margin-bottom: $v-sp

.m-cards-el-name
  margin-top: 0
  max-width: 60%
  line-height: 1.2
  &::after
    content: ''
    display: block
    width: $v-sp--p9
    height: 3px
    background-color: $v-white
    margin: $v-sp--m2 0
  a
    @extend %t-links--noUnder

.m-cards-el-number
  @extend %t-p--upperBlue
  position: absolute
  bottom: $v-sp--p1
  right: $v-sp

// Links
.m-cards-el-links
  padding: 0
  list-style: none
  background-color: inherit
  li
    display: inline-block
    margin: $v-sp--m6 0
    background-color: inherit
    &::after
      content: ""
      display: inline-block
      margin: 0 $v-sp--m6
      border-radius: 100%
      background-color: $v-white
      opacity: 0.25
      width: 0.5rem
      height: 0.5rem
      position: relative
      top: -2px
    &:last-child
      &::after
        display: none
