//
//
// Footer
//
//

//
// General
//
.m-footer
  text-align: center
  background-color: $v-white

.m-footer-copy
  @extend %t-small--upperBlue
  color: $v-black
  margin: 0 auto
  padding: $v-sp 0
