//
//
// Header
//
//

//
// General
//
.m-header
  width: 100%
  position: absolute
  overflow-y: hidden
  height: $v-sp--p9
  z-index: $v-z--p6
  color: $v-black
  font-family: $v-t-sans--thin
  background: red

//
// BG
//

//
// Top
//
.m-header-menu

.m-header-el
  flex-direction: column
  align-content: center
  align-items: flex-start

// Logo
.m-header-b
  text-align: center
  align-items: center
  a
    @extend %t-links--noUnder

// Search
.m-header-c
  align-items: flex-end
