//
//
// Header
//
//

//
// General
//
.m-header
  display: flex
  align-items: center
  justify-content: space-between
  width: 100%
  position: absolute
  overflow-y: hidden
  height: $v-sp--p9
  z-index: $v-z--p6
  color: $v-black
  font-family: $v-t-sans--thin
  background: transparent
  a
    &:hover
      border: none

//
// Elements
//
.m-header-a

.m-header-b
  @extend %t-small--upper
