//
//
// Hero
//
//

//
// General
//
.m-hero
  padding-top: $v-sp--p11
  padding-bottom: $v-sp--p4

// Themes
@each $key, $color in $l-themes
  .m-hero--#{ $key }
    @extend %l-theme--#{ $key }
    &.m-hero--invert
      @extend %l-theme--#{ $key }--invert

//
// Main
//
.m-hero-a
  .t-h1--sans
    font-size: rem(80px)
    margin-bottom: $v-sp--m4
    margin-top: 0

.m-hero-date
  font-family: $v-t-sans--normal

.m-hero-intro
  line-height: 2

.m-hero-reading
  margin-top: $v-sp--p4

//
// Links
//
.m-hero-b
  text-align: right
  ol
    margin-left: 0
    padding-right: 0
    list-style-type: none
    li
      counter-increment: step-counter
      &::before
        content: counter(step-counter) "."
        color: inherit
      &:hover
        color: $v-blue

.m-hero-links
  display: block
  font-size: rem(20px)
  margin-top: $v-sp
  padding-left: 0
  text-align: left
  li
    margin-bottom: $v-sp--m4
  @include media-breakpoint-up(sm)
    margin-top: $v-sp--m6
    padding-left: $v-sp--p4
    display: inline-block

.m-hero-back
  @extend %t-small--upper
  text-align: left
  margin-top: $v-sp--p4
