//
//
// Hero
//
//

//
// General
//
.m-hero
  padding-top: $v-sp--p9
  padding-bottom: $v-sp--p4
  background-color: $v-yellow
  color: $v-blue

//
// A
//
.m-hero-a
  h1
    &::after
      content: ''
      display: block
      width: 50%
      height: 2px
      background-color: $v-blue
      margin-top: $v-sp--m2
