//
//
// Hero
//
//

//
// General
//
.m-hero
  padding-top: $v-sp--p9
  padding-bottom: $v-sp--p4
  @extend %l-theme--yellow

.m-hero-a,
.m-hero-b
  padding: 0

// Themes
.m-hero--pink
  @extend %l-theme--pink

.m-hero--yellow
  @extend %l-theme--yellow

.m-hero--blue
  @extend %l-theme--blue

.m-hero--green
  @extend %l-theme--green

.m-hero--gray
  @extend %l-theme--gray

//
// Main
//
.m-hero-a
  .t-h1--sans
    margin-bottom: $v-sp--m4
    margin-top: 0
  .m-tags-target
    margin-top: $v-sp--m2
    &::before
      content: ''
      display: block
      width: 50%
      height: 2px
      background-color: $v-blue
      margin-bottom: $v-sp--m2

.m-hero-date
  font-family: $v-t-sans--normal

.m-hero-intro
  line-height: 2

.m-hero-reading
  margin-top: $v-sp--p4

//
// Links
//
.m-hero-b
  ol
    margin-left: 0
    padding-right: 0
    list-style-type: none
    li
      counter-increment: step-counter
      &::before
        font-family: $v-t-sans--bold
        content: counter(step-counter) "."
        font-size: 0.55em
        color: inherit

.m-hero-links
  margin-top: $v-sp--m6
  padding-left: $v-sp--p4
  li
    margin-bottom: $v-sp--m4

.m-hero-back
  text-align: right
  margin-top: $v-sp--p4
