- unless pages.empty?
  - pages.each do |page|
    - article_class = 'list-view'
    - if page.flagged_as?('tutorial')
      - article_class += ' tutorial'
    - if page.flagged_as?('no-title')
      - article_class += ' no-title'
    - if page.flagged_as?('col-2')
      - article_class += ' col col-2'
    - if page.flagged_as?('col-3')
      - article_class += ' col col-3'
    - if page.flagged_as?('col-4')
      - article_class += ' col col-4'

    %article{ :class => article_class }
      - if page.date
        .date
          %a{ :href => page.abspath }= matz_format_date(page.date)

      - if !page.flagged_as?('no-title')
        %h1
          %a{ :href => page.abspath }= page.heading

      - if page.flagged_as?('tutorial')
        %a{ :href => page.abspath, :class => 'button' } go to tutorial
      - else
        .article-content
          ~ page.body
