//
//
// Base
//
//

//
// General
//
*
  box-sizing: border-box

body
  font-family: $v-t-serif

a
  cursor: pointer
  color: inherit
  text-decoration: none
  &:hover, &:active, &:visited
    color: inherit

//
// Lists
//
