//
//
// Base
//
//

//
// General
//
*
  box-sizing: border-box

body
  font-family: $v-t-serif

a
  cursor: pointer
  color: inherit
  text-decoration: none
  &:hover, &:active, &:visited
    color: inherit

//
// Lists
//
ul, ol
  margin: 0

ol
  margin-left: 0
  padding-right: 0
  list-style-type: none
  li
    counter-increment: step-counter
    &::before
      font-family: $v-t-sans--bold
      content: counter(step-counter) "."
      font-size: 0.55em
      color: inherit
