//
//
// Layout
//
//

//
// General
//
.l-wrap
  position: relative
  z-index: 2
  background-color: $v-white
  transition: opacity $v-delay ease-in-out 0s
  opacity: 0
  padding-bottom: $v-sp--p8
  .is-loaded &
    opacity: 1

.container--full
  @include media-breakpoint-down(sm)
    padding-left: 0
    padding-right: 0

//
// Sections
//

//
// Grid
//
// NOTE: moved the grid logic to BS
// flex grid
