//
//
// Layout
//
//

//
// General
//
.l-wrap
.l-page

//
// Sections
//

//
// Grid
//
.l-cont
  @include container()
  max-width: 1200px
  margin: 0 auto
  padding: $v-sp

.l-cont--full
  @extend .l-cont
  max-width: 100%

// Columns
.l-col--oneHalf
  @include span(6 of 12)

.l-col--oneThird
  @include span(4 of 12)

.l-col--twoThird
  @include span(8 of 12)

.l-col--oneQuarter
  @include span(3 of 12)

.l-col--threeQuarter
  @include span(9 of 12)

.l-col--inlineMiddle
  @include vertical-align('middle')
