//
//
// Themes
//
//

//
// Colors
//
$l-themes: ('sky': $v-sky, 'purple': $v-purple, 'pink': $v-pink, 'yellow': $v-yellow, 'green': $v-green, 'red': $v-red)

@each $key, $color in $l-themes
  %l-theme--#{ $key }
    background-color: $color
    color: $v-white
    use
      fill: $v-white
