//
//
// Themes
//
//

//
// Colors
//
$l-themes-bg: ('pink': $v-pink, 'yellow': $v-yellow, 'blue': $v-blue, 'green': $v-green, 'gray': $v-gray)
$l-themes-accent: ('pink': $v-white, 'yellow': $v-blue, 'blue': $v-white, 'green': $v-white, 'gray': $v-blue)

@each $bgKey, $bgColor in $l-themes-bg
  %l-theme--#{ $bgKey }
    background-color: $bgColor
    color: map-get($l-themes-accent, $bgKey)
    use
      fill: map-get($l-themes-accent, $bgKey)
