//
//
// Typography
//
//

//
// Fonts
//

//
// Headings
//
h1, h2, h3, h4, h5
  font-family: $v-t-sans--bold
  letter-spacing: 1px

.t-h1--sans
  font-family: $v-t-sans--bold
  font-size: rem(30px)
  line-height: rem(30px)
  letter-spacing: 1px

.t-h1--serif
  @extend .t-h1--sans
  font-family: $v-t-serif

.t-h2--sans
  @extend .t-h1--sans
  font-size: rem(20px)
  line-height: rem(20px)

.t-h2--serif
  @extend .t-h2--sans
  font-family: $v-t-serif

.t-h3--sans
  @extend .t-h1--sans
  font-size: rem(16px)
  line-height: rem(16px)

//
// Helpers
//
.t-center
  text-align: center

.t-left
  text-align: left

.t-right
  text-align: right

.t-capital
  text-transform: capitalize

.t-upper
  text-transform: uppercase

.t-bold
  font-family: $v-t-sans--bold

//
// Content
//
p
  line-height: 1.66

%t-p--m1, .t-p--m1
  font-size: rem(14px)

%t-p--m2, .t-p--m2
  font-size: rem(12px)

%t-links--noUnder
  text-decoration: none
  border-bottom-color: transparent
  &:hover, &:active
    text-decoration: none
    border-bottom-color: transparent

%t-p--upperBlue
  text-transform: uppercase
  font-family: $v-t-sans--bold
  letter-spacing: 1px
  font-size: rem(9px)
  color: $v-blue
